In [4]:
import xlwings as xw
import pandas as pd

In [17]:
wb = xw.Book("GMGUI.xlsx")
sheet = wb.sheets['DATA']
df = pd.DataFrame(sheet.range('tblDATA[#All]').value)
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0))
display(df)

0  Name Savings
1  Greg     100
2  Paul     200
3  Matt     300

In [18]:
sheet.range('tblDATA').value = df